@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, SpringGreen, DarkCyan);

}



h1, h4 {
  text-align: center;
  font-style: italic;
  font-size: 2.5rem;
  font-family: 'Noto Serif', serif;
  color: #ddd;
  padding: 2rem 0;
  letter-spacing: 0.2rem;
}

h1 {
  background: linear-gradient(to right, orangered, red, navy, black);
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: text;
  background-clip: text;
}

h4 {
  letter-spacing: 0.1rem;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  text-align: center;
}

#header-img {
  margin-right: auto;
}

#nav-bar {
  background-color: #000;
}

#nav-bar ul li {
  display: inline;
}

.nav-link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 15px;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s all ease-in-out;
}

nav a:hover {
  color: #000;
  background: #fff;
  border-radius: 12px;
} 

#products {
  box-sizing: border-box;
  border-radius: 15px;
  margin: 50px auto;
  width: 90vw;
  padding: 5px 20px;
  background: rgba(0,0,0,0.8);
  backdrop-filter: saturate(180%) blur(10px);
}

#products .card .shoe-img {
  border: 1px solid black;
  border-radius: 20px;
  height: 250px;
  width: 300px;
}

#products .card {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 200px;
}

#products .card .card1, .card2, .card3 {
  background: #000;
  width: 380px;
  border: 0.5px solid black;
  border-radius: 12px;
  height: 350px;
  padding: 10px 0;
  margin: 10px 0;
}

.card1 p, .card2 p, .card3 p {
  font-family: 'Oswald', sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  color: white;
}
.shoe-img:hover {
  cursor: pointer;
  transform: scale(1.4);
  transition: 0.3s ease-in-out;
}

#videos {
  display: flex;
  justify-content: center;
}

#video {
  margin: 0 auto;
}

form {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  margin: 2.5rem 0;
  color: white;
  background-color: rgb(20, 1, 1);
}

form .email {
  font-family: 'Noto Serif', serif;
  padding: 12px 3px;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

form #email {
  padding: 6px 1.5rem;
  margin-left: 8px;
}

form #email::placeholder {
  font-style: italic;
  letter-spacing: 2px;
  color:rgb(20, 1, 1);
}

form #submit {
  margin-left: 2rem;
  padding: 0.2rem 1.6rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 20px;
}

form #submit:hover {
  transition: all 0.3s ease-in;
  background-color: #000;
  color: #fff;
}

.footer {
  width: 100%;
  height: 160px;
  color: #fff;
  background-color: #000;
  text-align: center;
}

.footer ul .footer-lists {
  display: inline;
  margin: 5px 7px;
  filter: grayscale(1);
} 

.footer ul .footer-lists:hover {
  cursor: pointer;
  filter: grayscale(0);
  transition: 0.3s ease-in;
}

.footer p ,.footer ul p  {
  font-family: 'Noto Serif', serif;
  margin: 10px 0;
  padding: 12px 0;
  font-weight: 500;
	letter-spacing: 0.1rem;
}

@media (max-width: 400px) {
  body {
    text-align: center;
  }
  
  .nav-link li a {
    display: block;
    width: 100%;
    margin-right: auto; 
    text-align: center;
    padding: 5px 12px;
    font-size: 18px;
    text-transform: uppercase;
  }

  .card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
  }
  
  form {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  form #email {
    margin: 10px 0;
  }
  
  form #submit {
    padding: 7px 1.5rem;
  }
  
}